<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="robots" content="noindex,nofollow">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ChargeByte</title>
	<link href="../dist/css/app.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="32x32" href="../src/images/favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../src/images/favicon.png">
	<link rel="manifest" href="./site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<style>
		.heading {
			padding: 20px 0;
		}
	</style>
</head>

<body>

	<div class="header-wrapper">
		
<header class="header">	
		<div class="container">	
		<nav class="navbar navbar-expand-md fixed-top custom-navbar">
				<a class="navbar-brand" href="../index.html">
					<img src="../src/images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
			  <ul class="navbar-nav ml-auto">
		 
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						About
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="welcome.html">Welcome</a>
						<a class="dropdown-item" href="#">Contact</a>
						<a class="dropdown-item" href="#">Blog</a>
					</div>
				</li> 
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Product
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Documentation</a>
						<a class="dropdown-item" href="#">Pricing</a>
						<a class="dropdown-item" href="#">Privacy Impact Assessment</a>
					</div>
				</li> 
	
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="../index.html" id="navbardrop">
							Trust Center
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="privacyPolicy.html">Privacy Policy</a>
						<a class="dropdown-item" href="californiaPrivacyNotice.html">California Privacy Notice</a>
						<a class="dropdown-item" href="srr.html">SRR</a>
						<a class="dropdown-item" href="requests.html">Requests</a>
					</div>
				</li> 
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="centerOfExcellence.html" id="navbardrop" >
							Center of Excellence
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="recordOfProcessing.html">Record of Processing</a>
						<a class="dropdown-item" href="privacyByDesign.html">Privacy by Design</a>
						<a class="dropdown-item" href="privacyImpactCenter.html">Privacy Impact Center</a>
						<a class="dropdown-item" href="thirdPartyAssessment.html">Third Party Assessment</a>
						<a class="dropdown-item" href="privacyIncidentCenter.html">Privacy Incident Center</a>
						
					</div>
				</li> 
			  </ul>
			</div>  
		  </nav>
		</div>
	
		</header>
	</div>

	<!-- banner section starts here -->

	<section class="banner-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="banner-content">
						<h3>Together we can</h3>
						<p>Products that help people.</p>
						<button class="btn btn-learnmore" type="button">Learn More</button>
					</div>
				</div>
			</div>
		</div>
	</section><!-- banner section ends here -->

	<!-- product section starts here-->
	<section class="common-section product-section">
		<div class="container text-center">
			<h4>Products</h4>
			<h2>We Build Tools For the Web</h2>
			<div class="row">
				<div class="col-sm-6 col-md-3 ">
					<div class="product-cards">
						<img class="smaller-icons" src="../src/images/metrics.png">
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-cards">
						<img class="smaller-icons" src="../src/images/metrics.png">
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-cards">
						<img class="smaller-icons" src="../src/images/metrics.png">
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="product-cards">
						<img class="smaller-icons" src="../src/images/metrics.png">
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- product section  ends here-->

	<!-- elements section  starts here-->
	<section class="elements-section common-section">
		<div class="container">
			<div class="row">
				<div class="col-md-7 img-section">
					<img class="img-responsive" src="../src/images/elements.png">
				</div>
				<div class="col-md-5 elements-section-content">
					<h4>Lorem Ipsum</h4>
					<h2>Lorem Ipsum</h2>
					<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s.Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					<button class="btn btn-learnmore" type="button">Lorem Ipsum</button>
				</div>
			</div>
		</div>
	</section>

	<section class="elements-section common-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 elements-section-content">
					<h4>Lorem Ipsum</h4>
					<h2>Lorem Ipsum</h2>
					<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s.Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s</p>
					<button class="btn btn-learnmore" type="button">Lorem Ipsum</button>
				</div>
				<div class="col-md-7 img-section">
					<img class="img-responsive" src="../src/images/elements.png">
				</div>
			</div>
		</div>
	</section><!-- elements section  ends here-->

	<!--testimonials-->
	<section class="testimonials-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-sm-12 col-xs-12 no-margin-left no-margin-left-xs no-padding-xs">
					<div id="demo" class="carousel slide" data-ride="carousel">
						<ul class="carousel-indicators">
							<li data-target="#demo" data-slide-to="0" class="active"></li>
							<li data-target="#demo" data-slide-to="1"></li>
							<li data-target="#demo" data-slide-to="2"></li>
						</ul>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="carousel-caption">
									<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s, when an unknown.</p>
									<small>Lorem Ipsum</small>
								</div>   
							</div>
							<div class="carousel-item">
								<div class="carousel-caption">
									<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s, when an unknown.</p>
									<small>Lorem Ipsum</small>
								</div>   
							</div>
							<div class="carousel-item">
								<div class="carousel-caption">
									<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s, when an unknown.</p>
									<small>Lorem Ipsum</small>
								</div>   
							</div>
						</div>
						<a class="carousel-control-prev" href="#demo" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#demo" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- build -->
	<section class="section-build bg-orange">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="banner-content">
						<h4>Lorem Ipsum</h4>
						<h3>Lorem Ipsum</h3>
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s.</p>
						<button class="btn btn-learnmore" type="button">Lorem Ipsum</button>
					</div>
				</div>
			</div>
		</div>
		<img src="../src/images/bg-1.png" alt="" class="img-responsive-lg">
	</section><!-- build -->

	<section class="section-cards">
		<div class="container">
			<div class="row">
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
				<div class="col-md-3 section-cards-inner">
                    <img class="smaller-icons" src="../src/images/metrics.png">
                    <p class="margin-top--10 fw--400">
                        California Privacy Notice
                    </p>
				</div>
			</div>
		</div>
	</section>

	<!-- section -->
	<section class="section-join-today bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="banner-content">
						<h3>Lorem Ipsum</h3>
						<p>Lorem Ipsum is simply  of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  ever since the 1500s.</p>
						<button class="btn btn-learnmore" type="button">Lorem Ipsum</button>
					</div>
				</div>
			</div>
		</div>
	</section><!-- section -->


	<footer class="wirewheel-footer margintop-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright">

                        </div>
                    </div>
                </div>
            </div>
    </footer>

	<script src="../dist/js/app.min.js"></script>
</body>

</html>